@import '../../../variables';
@import '../../../mixins';

.container-form{
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    color: $backgroundColor-bege;
    animation: effect-loading 1s;
    h2 {
        color: $backgroundColor-bege;
        margin:  0 auto;
        padding: 0;
    }
    form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin:  2em auto ;
        min-width: 320px;
        font-size: 12px;
        padding: 0;
        
    }
    &__left , &__right{
        box-sizing: border-box;
        width: 45%;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        margin:  1em auto;
        label {
            width: 40%;
            margin: 2em 0 .3em 0em;
        }
        input {
            width: 80%;
            height: 2em;
            min-width: 200px;
            height: 35px;
            border-radius: 5px;
            border: none;
        }
        .btn-submit-projet {
            margin-top: 1em;
            width: 82%;
            height: 3em;
            border-radius: 5px;
            background-color: $backgroundColor-bege;
            color: $backgroundColor-blue;
            font-weight: 600;
            cursor: pointer;
        }        
    }

    .input-tech {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
    }
    .error-tags-full {

        border: 2px solid red;
    }
    .error-tags-msg {
        margin-top: 0.5em;
        color: rgb(234, 123, 123);
    }
    .boxer-tags {
        width: 100%;
        display: flex;
        margin-top: 5px;
        flex-wrap: wrap;
        .tags-btn {
            display: flex;
            background-color: $backgroundColor-bege;
            color: $backgroundColor-blue;
            border-radius: 5px;
            padding: 4px 5px;
            margin: 12px 7px 0 0px;
            align-items: center ;
            span {
                display: flex;
                align-items: center;
                margin: 5px;
                font-size: 10px;
            }
            
        }
    }


}

@include effect-loading;