@import '../../../variables';

.container-sidebar {
    width: 8em;
    height: 110vh;
    background-color: $color-btn;
    color: white;
    justify-content: center;
    display: flex;
    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        .link-btn {
            margin-bottom: 1.5em;
            color: $backgroundColor-bege ;
            font-size: 20px;
        }
    }
    .btn-active {
        position: absolute;
        margin-top: -10em;
        left: 0;
        right: 0;
        padding: 1em;
        width: 1px;
        height: 1px;
        background-color: black;
    }
    .section-btn-responsive {
        align-items: center;
        display: flex;
        width: 30%;
        justify-content: center;
        display: none;
    }

}